body {
    background-color:#3b3b3b;
    padding:0;
    margin:0;
}


#no{
	display:none
}
#ball{
	width:20px;
	height:20px;
	border-radius:10px;
	-webkit-radius:10px;
	background-color:red;
	position:absolute;
	top:0px;
	left:0px
}

#swipable {
    position:absolute;
    width:800px;
    height:500px;
    background:#b5b3b1;
}


/* ????????? */

.window {
    width: 200px; 
    height:200px;
    background-color:gray;
}

#droparea { 
    width:300; 
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background-color:#1a1a1a;
}


/* Touch */   

#test {
    width:500px;
    height:300px;
    background:#FF00FF;
}

#info {
    width:500px;
}

#content {
    height:567px;
    width:896px;
    overflow:hidden;
    position:relative;             
    border : 1px solid black;                
}
            
#imgs  {
    float:left;
    display:inline;   
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    padding:0px;
    margin:0px;
    
    width:2700px;
    
    /*apply a transfor to kick in the hardware acceleration.  
    Without this, the first time we add the transform you get
    odd rendering of the divs (half missing) */

    -webkit-transform: translate3d(0px,0px,0px); 
                
}
    
#imgs img {
    padding:0px;
    margin:0px;    
    width:896px;
    height:567px;
    
    /*apply a transfor to kick in the hardware acceleration.  
    Without this, the first time we add the transform you get 
    odd rendering of the divs (half missing) */

    -webkit-transform: translate3d(0px,0px,0px); 
}
